/* 
    Document   : base
    Created on : 2012-dec-07, 12:12:12
    Author     : Janey
    Description:
        Purpose of the stylesheet follows.
*/

body {
	font-family: Tahoma, sans-serif;
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
}

#flash {
	margin: 2em auto;
	background-color: #fefefe;
	min-height: 10em;
	border: 1px solid #999;
	padding: 1em;
	border-radius: 10px;
	box-shadow: 5px 5px 5px 5px #555;
	overflow: hidden;
}

.wrapper {

}

.wrapper:after {
	clear: both;
}

#footer {
	border-top: 1px solid #999;
	color: #999;
	font-size: smaller;
	margin-top: 2em;
	padding-top: 0.5em;
}

h1, h2, h3, h4 {
	margin-top: 0;
}